
# Copy this file to .env and fill in your values
OPENAI_API_KEY=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
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1367441308104392805/Ghe_Rmgo9PlXLV-Aq6r6UjLwVP5sCJqOWjQQmi6tOy0zhBYgxWRXy3Iiiu9OretPD8LQ
